RewriteEngine On # Turn on the rewriting engine 
RewriteRule ^RDES([0-9]+)/elements/?(.*)$ set-elements.php?_id=$1&_param=$2&%{QUERY_STRING} [NC]
RewriteRule ^RDES([0-9]+)(/(.*))?$ sets.php?_id=$1&_param=$2&%{QUERY_STRING} [NC,L] 
